
body {
  font-family: 'Source Sans Pro', 'Myriad Pro', 'Myriad Web Pro', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Segoe UI', Calibri, sans-serif;
  word-wrap: break-word;
}

.semibold { font-weight: 600; }
.bold { font-weight: 700; }

/*
=================================
** Regular
=================================
*/

/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
       url('../fonts/latin-ext/sourcesanspro-regular-latin-ext.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  unicode-range: U+0100-0101, U+0104-0130, U+0132-0151, U+0154-017E, U+0180, U+018F, U+0192-0193, U+01A0-01A1, U+01AF-01B0, U+01C2, U+01CD-01DC, U+01E2-01E3, U+01E6-01E7, U+01EA-01EB, U+01F4-01F5, U+01F8-01F9, U+01FC-01FD, U+0218-021B, U+0237, U+0243, U+1E06-1E07, U+1E0C-1E0F, U+1E16-1E17, U+1E20-1E21, U+1E24-1E25, U+1E2A-1E2B, U+1E32-1E3B, U+1E3E-1E49, U+1E52-1E53, U+1E58-1E63, U+1E6C-1E6F, U+1E80-1E85, U+1E8E-1E8F, U+1E92-1E97, U+1E9E, U+20A1, U+20A4, U+20A6-20A7, U+20A9, U+20AE, U+20B1-20B2, U+20B5, U+20B8-20BA, U+20BD;
}

/* cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
       url('../fonts/cyrillic/sourcesanspro-regular-cyrillic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
       url('../fonts/cyrillic-ext/sourcesanspro-regular-cyrillic-ext.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  unicode-range: U+0462-0463, U+0472-0475, U+0492-0493, U+0496-049B, U+04A0-04A3, U+04AA-04AB, U+04AE-04AF, U+04B2-04B3, U+04B6-04B7, U+04BA-04BB, U+04C0-04C2, U+04CF-04D1, U+04D4-04D9, U+04E2-04E3, U+04E6-04E9, U+04EE-04EF, U+04F2;
}

/* greek */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
       url('../fonts/greek/sourcesanspro-regular-greek.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  unicode-range: U+0374-0375, U+037A, U+037E, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03CE, U+03D0-03D1, U+03D5, U+03D7, U+03D9, U+03DB, U+03DD, U+03E1;
}

/* greek-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
       url('../fonts/greek-ext/sourcesanspro-regular-greek-ext.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  unicode-range: U+1F00-1F15, U+1F18-1F1D, U+1F20-1F45, U+1F48-1F4D, U+1F50-1F57, U+1F59, U+1F5B, U+1F5D, U+1F5F-1F7D, U+1F80-1FB4, U+1FB6-1FC4, U+1FC6-1FD3, U+1FD6-1FDB, U+1FDD-1FEF, U+1FF2-1FF4, U+1FF6;
}

/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
       url('../fonts/vietnamese/sourcesanspro-regular-vietnamese.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  unicode-range: U+1EA0-1EF1;
}


/*
=================================
** Semibold
=================================
*/

/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
       url('../fonts/latin-ext/sourcesanspro-semibold-latin-ext.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  unicode-range: U+0100-0101, U+0104-0130, U+0132-0151, U+0154-017E, U+0180, U+018F, U+0192-0193, U+01A0-01A1, U+01AF-01B0, U+01C2, U+01CD-01DC, U+01E2-01E3, U+01E6-01E7, U+01EA-01EB, U+01F4-01F5, U+01F8-01F9, U+01FC-01FD, U+0218-021B, U+0237, U+0243, U+1E06-1E07, U+1E0C-1E0F, U+1E16-1E17, U+1E20-1E21, U+1E24-1E25, U+1E2A-1E2B, U+1E32-1E3B, U+1E3E-1E49, U+1E52-1E53, U+1E58-1E63, U+1E6C-1E6F, U+1E80-1E85, U+1E8E-1E8F, U+1E92-1E97, U+1E9E, U+20A1, U+20A4, U+20A6-20A7, U+20A9, U+20AE, U+20B1-20B2, U+20B5, U+20B8-20BA, U+20BD;
}

/* cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
       url('../fonts/cyrillic/sourcesanspro-semibold-cyrillic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
       url('../fonts/cyrillic-ext/sourcesanspro-semibold-cyrillic-ext.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  unicode-range: U+0462-0463, U+0472-0475, U+0492-0493, U+0496-049B, U+04A0-04A3, U+04AA-04AB, U+04AE-04AF, U+04B2-04B3, U+04B6-04B7, U+04BA-04BB, U+04C0-04C2, U+04CF-04D1, U+04D4-04D9, U+04E2-04E3, U+04E6-04E9, U+04EE-04EF, U+04F2;
}

/* greek */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
       url('../fonts/greek/sourcesanspro-semibold-greek.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  unicode-range: U+0374-0375, U+037A, U+037E, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03CE, U+03D0-03D1, U+03D5, U+03D7, U+03D9, U+03DB, U+03DD, U+03E1;
}

/* greek-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
       url('../fonts/greek-ext/sourcesanspro-semibold-greek-ext.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  unicode-range: U+1F00-1F15, U+1F18-1F1D, U+1F20-1F45, U+1F48-1F4D, U+1F50-1F57, U+1F59, U+1F5B, U+1F5D, U+1F5F-1F7D, U+1F80-1FB4, U+1FB6-1FC4, U+1FC6-1FD3, U+1FD6-1FDB, U+1FDD-1FEF, U+1FF2-1FF4, U+1FF6;
}

/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
       url('../fonts/vietnamese/sourcesanspro-semibold-vietnamese.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  unicode-range: U+1EA0-1EF1;
}


/*
=================================
** Bold
=================================
*/

/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('../fonts/latin-ext/sourcesanspro-bold-latin-ext.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  unicode-range: U+0100-0101, U+0104-0130, U+0132-0151, U+0154-017E, U+0180, U+018F, U+0192-0193, U+01A0-01A1, U+01AF-01B0, U+01C2, U+01CD-01DC, U+01E2-01E3, U+01E6-01E7, U+01EA-01EB, U+01F4-01F5, U+01F8-01F9, U+01FC-01FD, U+0218-021B, U+0237, U+0243, U+1E06-1E07, U+1E0C-1E0F, U+1E16-1E17, U+1E20-1E21, U+1E24-1E25, U+1E2A-1E2B, U+1E32-1E3B, U+1E3E-1E49, U+1E52-1E53, U+1E58-1E63, U+1E6C-1E6F, U+1E80-1E85, U+1E8E-1E8F, U+1E92-1E97, U+1E9E, U+20A1, U+20A4, U+20A6-20A7, U+20A9, U+20AE, U+20B1-20B2, U+20B5, U+20B8-20BA, U+20BD;
}

/* cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('../fonts/cyrillic/sourcesanspro-bold-cyrillic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('../fonts/cyrillic-ext/sourcesanspro-bold-cyrillic-ext.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  unicode-range: U+0462-0463, U+0472-0475, U+0492-0493, U+0496-049B, U+04A0-04A3, U+04AA-04AB, U+04AE-04AF, U+04B2-04B3, U+04B6-04B7, U+04BA-04BB, U+04C0-04C2, U+04CF-04D1, U+04D4-04D9, U+04E2-04E3, U+04E6-04E9, U+04EE-04EF, U+04F2;
}

/* greek */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('../fonts/greek/sourcesanspro-bold-greek.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  unicode-range: U+0374-0375, U+037A, U+037E, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03CE, U+03D0-03D1, U+03D5, U+03D7, U+03D9, U+03DB, U+03DD, U+03E1;
}

/* greek-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('../fonts/greek-ext/sourcesanspro-bold-greek-ext.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  unicode-range: U+1F00-1F15, U+1F18-1F1D, U+1F20-1F45, U+1F48-1F4D, U+1F50-1F57, U+1F59, U+1F5B, U+1F5D, U+1F5F-1F7D, U+1F80-1FB4, U+1FB6-1FC4, U+1FC6-1FD3, U+1FD6-1FDB, U+1FDD-1FEF, U+1FF2-1FF4, U+1FF6;
}

/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('../fonts/vietnamese/sourcesanspro-bold-vietnamese.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  unicode-range: U+1EA0-1EF1;
}
